---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"project">;

const project = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} description="">
  <article class="">
    <div class="relative border-b-2 border-dashed border-border">
      <div class="grid-bg"></div>
      <div
        class="relative z-20 border-x-2 border-dashed border-border py-12 sm:mx-12"
      >
        <div class="prose mx-auto dark:prose-invert">
          <div>
            <h1 class="text-center">
              {project.data.title}
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-12 border-b-2 border-dashed border-border">
      <div class="border-x-2 border-dashed border-border px-6 sm:mx-12">
        <div class="prose mx-auto py-12 dark:prose-invert">
          <Content />
          {
            project.data?.url && (
              <a
                href={`https://github.com/member87/${project.data.url}`}
                class="mx-auto inline-flex items-center justify-center gap-2 rounded-full bg-[#181717] p-2 text-white"
              >
                <Icon name="simple-icons:github" class="text-xl" />
                <span class="mr-2 text-sm">View on GitHub</span>
              </a>
            )
          }
        </div>
      </div>
    </div>
  </article>
</Layout>
