---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"project">;

const project = Astro.props;
const { Content } = await project.render();
---

<Layout>
  <article>
    <div class="prose mx-auto">
      <div class="title">
        <h1 class="text-center">
          {project.data.title}
        </h1>

        <hr />
      </div>

      <Content />
      {
        project.data?.url && (
          <a
            href={`https://github.com/member87/${project.data.url}`}
            class="bg-[#181717] text-white inline-flex gap-2 p-2 rounded-full mx-auto justify-center items-center"
          >
            <Icon name="simple-icons:github" class="text-xl" />
            <span class="mr-2 text-sm">View on GitHub</span>
          </a>
        )
      }
    </div>
  </article>
</Layout>
