---
import Layout from "../layouts/Layout.astro";
import { NAME } from "../consts";
---

<Layout>
  <main class="">
    <div class="relative z-0 opacity-40 blur-[128px]">
      <div
        class="absolute left-0 size-[800px] max-w-full rounded-full bg-sky-500/40 md:left-12"
      >
      </div>
      <div
        class="absolute right-12 hidden size-[800px] rounded-full bg-green-500/40 md:block"
      >
      </div>
    </div>

    <div class="relative z-30 flex min-h-[600px] items-center justify-center">
      <div class="max-w-[600px] px-4">
        <h1 class="mb-4 text-6xl">{NAME}</h1>
        <p class="text-lg leading-loose text-gray-900">
          I'm a fullstack web developer currently working with Laravel and PHP
          professionaly. In all my personal projects I primarily use NextJS and
          React.
        </p>
      </div>
    </div>
  </main>
</Layout>
