---
const { type } = Astro.props;

const styles: {
  [key: string]: {
    class: string;
    icon: string;
    iconColor: string;
  };
} = {
  warning: {
    class: "bg-yellow-100",
    icon: "ic:round-warning",
    iconColor: "text-yellow-600",
  },
};

const getStyle = (type: string) => {
  // check if srtyles object contains type
  if (!styles[type] || !styles[type].class) {
    throw new Error(`Type ${type} is not defined`);
  }
  return styles[type].class;
};

import { Icon } from "astro-icon/components";
---

<div
  class=`px-3 py-4 rounded shadow not-prose grid grid-cols-[max-content,1fr] gap-2 ${getStyle(type)}`
>
  <Icon
    name={styles[type].icon}
    class={`w-6 h-6 text-3xl ${styles[type].iconColor}`}
  />
  <slot />
</div>
