---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="sticky top-2 z-50 mx-auto mt-2 max-w-fit rounded-full bg-neutral-50 p-2 shadow-lg"
>
  <nav>
    <div class="flex gap-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/project">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
