---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html>
  <head>
    <BaseHead title="test" description="test" />
    <ViewTransitions />
  </head>

  <body class="bg-neutral-100">
    <Header />
    <main class="py-12">
      <slot />
    </main>
  </body>
</html>
