---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;
---

<script is:inline data-astro-rerun>
  window.theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (window.theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  window.localStorage.setItem("theme", theme);
</script>

<html>
  <head>
    <BaseHead title={`${title} | Jack Humes`} description={description} />
    <ClientRouter />
  </head>

  <body class="bg-background">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
